<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by: </div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]="listFilter"/>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <!--
        ngIf is a built-in structural directive meaning it changes the structure of the page
        => if products and it has products,showotherwise hide
       -->
      <table class='table' *ngIf="products && products.length">
        <thead>
          <tr>
            <th>
              <!--
                Here Event Binding is implemented.
                the click event on the browser triggers the toggle function in the component class
              -->
              <button class='btn btn-primary' (click)="toggleImage()">
                <!-- interpolation used in a statement-  ternary statement -->
                {{showImage ? "Hide " : "Show "}} Image
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <!-- Another Built in structural directives -->
          <tr *ngFor="let product of products">
            <!--
              Property Binding is two way binding
              From component to Template, Template to Component
              It's binding info/data from component to a PPT on the template
              hence the termProperty Binding.
              Here, info/data is binded to the src attribute and alt attribute
            -->
            <td>
              <!-- Here ngIf valus changes based the return value of toggle function in the component class
              which isin turn triggered by the click event in the browser -->
              <img *ngIf="showImage" [src]="product.imageUrl" [alt]="product.productName"
              [style.width.px]="imageWidth" [style.margin.px]="imageMargin">
            </td>
            <td>{{product.productName}}</td>
            <td>{{product.productCode}}</td>
            <td>{{product.releaseDate}}</td>
            <td>{{product.price}}</td>
            <td>{{product.starRating}}</td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>
