<!-- <div class="card">
  <div class="card-header">
    {{pageTitle+ ': '+ product?.productName}}
    <-- 'product?.productName'product is gotten asynchronously
    hence the need to put '?'. If it's unavaliable angular passes it
  when it becomes available, the value is passed. '?' is the safe navigation operator
=> guards against null and undefined values when navigating an object's ppt

Alternatively, we use the *ngIf which is more appt.->
  </div>
</div> -->

<div class="card">
  <div class="card-header" **ngIf="product">
    {{pageTitle+ ': '+ product.productName}}
  </div>
</div>
