<!-- problem: how do we pass rating info to the parent
=> solution
when the user click on rating, the onClick function is callled
this alerts and grabs the declared ppt which is decorated as an Output decorator
=> @Output() ratingClicked: EventEmitter<string> = new EventEmitter<string>();
the ppt emits the event,binds to an event handler which would be defined in the paraent class
=> (ratingClicked)='onRatingClicked($event)'
-->

<div class="crop"
     [style.width.px]="starWidth"
     [title]="rating"
     (click)='onClick()'>
  <div style="width: 75px">
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
  </div>
</div>
